<div class="row">

  <div class="col-md-6">
    <%= link_to "Sign in with Google", user_omniauth_authorize_path(:facebook) %>
  </div>
  <div class="col-md-6">
    <%= link_to omniauth_authorize_path(resource_name, :google_oauth2),
      class: "btn btn-block btn-social btn-google" do %>
      <%= t ".sign_in_with" %> Google
      <i class="fa fa-google"></i>
  </div>
</div>
