@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';
@import 'variables';
@import 'social-share-button';

// universal

body {
  background-color: $gray-light;
  padding-top: 60px;
}

header {
  background-color: $blue-light;

  a {
    color: $white;
    font-weight: bold;

    &:hover {
      @include background-color($blue-dark, !important);
      color: $white;
    }
  }
}

.center {
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }
}

// header

.logo {
  color: $white;
  float: left;
  font-size: 2em;
  font-weight: bold;
  margin: 0 10px 8px 0;
  padding-top: 4px;

  &:hover {
    color: $white;
    text-decoration: none;
  }
}

// footer

footer {
  color: $gray-light;
  margin-top: 45px;
  padding-top: 5px;

  a {
    color: $gray;

    &:hover {
      color: $gray-darker;
    }
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }

  strong {
    color: $gray;
  }
}

// typography

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  text-align: center;
}

h1 {
  font-size: 2.8em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h4 {
  margin: 20px 0;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

// form

input,
textarea {
  @include box-sizing;
  border: 1px solid $gray;
  margin-bottom: 15px;
  width: 100%;
  overflow: hidden;
  padding: 0;
  outline: none;
}

.box {
  @include margin-left(0, !important);
  width: auto;
}

.intro {
  color: $blue-intro;
  font-size: 20px;
  font-weight: bold;
  line-height: 29px;
  margin-top: 40px;
  word-spacing: -1px;
}

.sign-up-form {
  border-color: $gray-border-form;
  border-radius: 5px;
  font-size: 18px;
  padding: 8px 10px;
  position: relative;
  text-align: start;
  text-shadow: none;
  text-transform: none;
  word-spacing: normal;
}

.alert-notice {
  background-color: $alert-bg-color;
  border-color: $alert-border-color;
  color: $alert-color;
  text-align: left;
}

.search-form {
  width: 400px !important;
  height: 29px;
  box-sizing: border-box;
  margin-bottom: 0;
}


/* posts */

.posts {
  list-style: none;
  padding: 0;
  .post {
    border: 1px solid #e8e8e8;
    border-radius: 7px;
    padding: 10px;
    margin-bottom: 15px;
    background-color: white;
    position: relative;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
    font-size: 1.1em;
  }
  .title {
    display: block;
    margin-left: 60px;
    font-weight: bold;
    font-size: 1.4em;
    a {
      color: black;
    }
  }
  .content {
    display: block;
    margin-left: 20px;
    word-wrap: break-word;
    padding-right: 20px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: #7F7783;
    font-size: 0.9em;
    display: block;
    margin: 0 0 5px 60px;
  }

  .info {
    color: #7F7783;
    margin: 0 0 0 20px;
    hr {
      width: 95%;
    }
  }

  .post-action {
    margin: 5px 20px;
    border-top: 1px solid #DDDFE2;
    padding-top: 5px;
  }

  .like,
  .show-comment {
    cursor: pointer;
    margin-right: 20px;
  }

  .delete-like {
    @extend .like;
    color: #4673CC;
  }

  .like-number {
    @extend .like;
  }

  .comment-area {
    display: none;
  }

  .gravatar {
    float: left;
    margin: 5px 10px 0 0;
  }
  .delete {
    position: absolute;
    top: 5px;
    right: 5px;
  }
  .delete-post {
    cursor: pointer;
  }

  .comment {
    display: block;
    margin-left: 22px;
    margin-right: 25px;
    border-top: 1px solid $gray-lighter;
    position: relative;
    padding: 5px 0 5px;
    .user {
      margin-left: 10px;
      padding-top: 0;
    }
    .content {
      display: block;
      margin-left: 60px;
      padding-right: 25px;
    }
    .timestamp {
      color: #7F7783;
      display: block;
      margin-left: 60px;
    }
    .delete {
      position: absolute;
      top: 2px;
      right: 2px;
    }
  }
  .txt-comment {
    border: 1px solid #DDDFE2;
    padding: 6px 12px 6px 12px;
    margin-top: 10px;
    margin-left: 60px;
    word-wrap: break-word;
    width: 89%;
  }

  .frm-comment {
    display: block;
    img.gravatar {
      border: 1px solid #DDDFE2;
      position: relative;
      margin: 15px 0 -27px 17px;

    }
    input {
      margin-top: -100px;
      padding-top: -20px;
    }
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.btn-dropdown {
  background-color: transparent;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
    display: block;
  }
  section {
    padding: 10px 0;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      line-height: 1;
      margin-bottom: 3px;
    }
    h1 {
      font-size: 1.4em;
      letter-spacing: -1px;
      text-align: left;
    }
  }
}

.txt-post {
  margin-top: 10px;
  padding: 6px 12px 6px 12px;
}

.gravatar {
  float: left;
  margin-right: 10px;
  vertical-align: middle;
}

.gravatar-edit {
  margin-top: 15px;
}

.stats {
  margin-top: 0;
  overflow: auto;
  padding: 0;
  a {
    color: gray;
    border-left: 1px solid $gray-lighter;
    float: left;
    padding: 10px 10px;
    width: 33%;
    &:first-child {
      border: 0;
      padding-left: 0;
    }
    &:hover {
      color: blue;
      text-decoration: none;
    }
  }
}

.stats-user {
  @extend .stats;
  margin-top: 25px;
}

.user-avatars {
  margin-top: 10px;
  overflow: auto;
  display: inline;
  text-align: horizontal;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

// users index

.users {
  list-style: none;
  margin: 0;
  li {
    border-bottom: 1px solid $gray-lighter;
    overflow: auto;
    padding: 10px 0;
  }
}
