<footer class="footer">
  <strong>
    &copy; <%= Time.zone.now.year %>. <%= t ".all_right" %>.
  <strong>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
    </ul>
  </nav>
</footer>
